{% block content %}
<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{%static 'styles.css' %}">
      <script src="{% static 'js/scripts.js' %}"></script>
      <script src="{% static 'js/bannedScripts.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
      
      
      
      {% endblock %}
        <title>

        </title>
    </head>
    <body class="bannedBody" >
        <style>
            table, th, td {
              border:1px solid black;
            }
            </style>
        <h2>Ban Ip-address</h2>
        <!--counter arvo tuoaan views.py funktiosta ja näytetään tässä-->
        <p>Addressed total:</p>
        <p id="counter">{{counter}}</p>
        <p id="checker"></p>
        <p id="days"></p>
        {%for r in result%}
        <table id="table" class="primaryTable">
            <tr>
              <th>IP-address</th>
              <th>Banned since</th>
              
              
            </tr>
            <tr>
              <td>{{r.ip}}</td>
              <form action="/del-ban/" method="post">
              <input hidden type="text" name="ip" value="{{r.ip}}">
              {%if r.BanDate == None %}
              <td class="daterow">Unknown</td>
              {%else%}
              <td class="daterow">{{r.BanDate}}</td>
              {%endif%}
             
                {% csrf_token %}
              <td><button type="submit">X</button></td>
            </form>
            
              
             
            </tr>
         
          </table>
        
        {%endfor%}
      
        <p id="bannedDays" class="bannedDays">Double-click this to see Banned days</p>
        <script>
          //jquery taulukon näyttöön,piilottamiseen ja teksti vaihtoon
          $("#bannedDays").dblclick(function(){
            $("#tableDays").show()
            //p-tagin tekstin vaihto tuplaklikkauksen jälkeen
            $('#bannedDays').text('Click to hide')
          });
          $("#bannedDays").click(function(){
            $("#tableDays").hide()
            $('#bannedDays').text('Double-click this to see Banned days')
          });
        </script>
        <table id="tableDays" class="tableDays" hidden>
          
       
        </table>
        <form action="/ban-form/" method="post">
            {% csrf_token %}
            <label for="useMasking">Use Jquery masking in format 000.000.00.00</label>
            <input type="checkbox" id="useMasking" onchange="masking('000.000.00.00')"><br>
            <label for="useMasking2">Use Jquery masking in format 000.00.00.000</label>
            <input type="checkbox" id="useMasking2" onchange="masking('000.00.00.000')"><br>
            <br>
            <input type="text" name="ipadd" id="ipadd" placeholder="Ip-address" onchange="checkIp()">
          
         
            <br><br>
           
            <Button type="submit">Ban
              <i class="fa-solid fa-ban"></i>
            </Button>
          </form>
          <script>
      
           
            window.onload=getBanDate;
          </script>
          
    </body>
</html>