
<!DOCTYPE html>
<html>
    <head>
        <title>Edit post</title>
    </head>
    <body>
        <h3>Edit post</h3>
        {%for d in data %}
        <form action="/edit-post/" method="post">
            {% csrf_token %}
            <input type="text" name="postid" value="{{d.postid}}">
            <input type="text" name="title" value="{{d.title}}">
            <br>
           <input type="text" name="body" value="{{d.body}}">
           <input type="submit" value="Save">
           
        </form>
         {%endfor%}
       
    </body>
</html>