<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Edit order</h2>
        <input type="text" name="oid" id="oid" value="{{orderid}}" readonly><br>
        <input type="text" name="customername" id="customername" value="{{name}}"><br>
        <input type="text" name="customeradd" id="customeradd" value="{{address}}"><br>
        <input type="text" name="customercity" id="customercity" value="{{city}}"><br>
        <input type="text" name="customerzip" id="customerzip" value="{{zip}}"><br>
        <input type="text" name="customerorder" id="customerorder" value="{{order}}"><br>
        <input type="text" name="customerorderdate" id="customerorderdate" value="{{orderdate}}">
    </body>
</html>