<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}">
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/webshopScripts.js' %}"></script>
  <script src="{% static 'js/chatbot.js' %}"></script>
  <script src="{% static 'js/jqueryScript.js' %}"></script>
  <script src="{% static 'js/productScripts.js' %}"></script>
  <title>Webshop</title>

</head>

<body onload="getProductCounter();DoBtnClick();" style="background-image: url(/static/images/BGPic.jpg);">
  <h2>Webshop</h2>


  <a class="btn btn-primary" href="/select-product-send/{{0}}">Return to cart </a>

  <a class="btn btn-primary" href="/adminView">Admin view</a>
  <br><br>

  <form action="/back-to-shop/" method="post">

    <button class="btn btn-info" id="gobackShop">Go back to shop</button>


    {% csrf_token %}
  </form>
  <!--span elementissä on tuotelaskuri-->
  <div class="shoppingCartBtn" id="shoppingCart">
    <a class="btn btn-primary btn-lg" onclick="ShoppingCart()">Show shopping cart<span id="cartNum"
        class="cartNum"></span></a>
  </div>
  {% include 'shoppingCart.html' %}

  <br>
  <div class="ourProducts" id="ourProducts">

    <p id="prodCheck" class="prodCheck"><i class="fa-solid fa-hand-point-right"></i>Check our products <i
        class="fa-solid fa-hand-point-left"></i></p>
  </div>
  <div class="prods" id="prods" style="display: none" ;>
    <p>Change the font size of the product card with the switch below</p>
    <div class="form-check form-switch">

      <span class="medium">
      <label class="form-check-label" for="flexSwitchCheckDefault">MEDIUM</label>
    </span>
    
      <input class="form-check-input" type="checkbox" role="switch" id="toggleSwitch"
        onchange="fontChange(document.getElementById('toggleSwitch'),document.getElementById('forloopLast').innerText)">
      
        <span class="larger">
      <label class="form-check-label" for="flexSwitchCheckDefault"> LARGER </label>
    </span>
    </div>
    <br>



    {%for p in prods %}

    <!--forloop counterin arvoa käytetään funktion parametrin arvona, että ohjelma tietää, mikä tuote on valittu-->
    <button onclick="adding('{{forloop.counter}}')"> <i class="fa-solid fa-cart-plus"></i></a></button>

    <form action="/select-product-send/{{p.productId}}/" method="post">
      <!--formin määrittelyssä annetaan p eli for silmukan muuttuja-->

      {% csrf_token %}



      <div class="card text-bg-primary mb-4" style=" max-width: 18rem; background-image: url(/static/productBG.jpg)">
        <!--JOS INSTOCK ON PIENEMPI KUIN 5 NÄYTETÄÄ SILLÄ RIVILLÄ TAUSTAVÄRI PUNAISELLA-->
        {% if p.instock < 5 %} <div class="card-header" id="Prodcard{{forloop.counter}}"
          style="background-color: red; font-size: medium; font-family: 'Brush Script MT',cursive;">{{p.name}}<img
            class="productPicture" src="/static/images/box50px.png" height="30">
      </div>

      {%else%}
      <div class="card-header" id="Prodcard{{forloop.counter}}"
        style="background-color: green; font-size: medium; font-family: 'Brush Script MT',cursive;">{{p.name}}<img
          class="productPicture" src="/static/images/box50px.png" height="30">
        <input hidden id="prow{{forloop.counter}}" type="text" value="{{p.name}}">
      </div>

      {%endif%}
      <div class="card-body">
        <h5 id="{{forloop.counter}}" class="card-title" style="font-size: large;
                      font-family: 'Brush Script MT',cursive;">
          <p hidden>{{p.productId}}</p>
          <p id="priceText" class="priceText">Price:</p>
          <p id="priceTag" class="priceTag">{{p.price}}</p> €/can inStock:
          {{p.instock}} pcs
        </h5>

        <p class="card-text"></p>
        <!--forloop counterin arvo lähetetään funktiolle onchangessa parametrina, että funktio tietää
        mikä tuotekortti on kyseessä-->
        <input type="radio" id="{{productId}}" name="str" value="8mg" onchange="setStrength('{{forloop.counter}}',8)">8
        MG
        <input type="radio" id="{{productId}}" name="str" value="16mg"
          onchange="setStrength('{{forloop.counter}}',16)">16 MG

        <input type="text" max="{{p.instock}}" id="amount{{forloop.counter}}" name="amount" size="3" value="0"
          onchange="setAmountField();createProw('{{forloop.counter}}',document.getElementById('priceTag').innerText)">

      </div>
  </div>
  {% if forloop.last %}
  <p hidden id="forloopLast">{{forloop.counter}}</p>
  {%endif%}
  <div class="ask">
    <div class="questions" id="questions{{forloop.counter}}" hidden>

      <h4>Ask an AI</h4>
      <!--kasvatetaan forloop counteria ilman for-silmukkaa-->
      <ul>
        {% with count=0 %}
        <li id="prodName{{forloop.counter}}"> What is {{p.name}}</li>
        <li id="question{{count}}">What are nicotine pouches?</li>
        <li id="question{{count|add:1}}">Is nicotine pouches unhealthy?</li>
      </ul>
      {%endwith%}
    </div>

    <!--forloop counterin lisäys id:hin yksilöi jokaisen prodname inputin, joten
    jokaisella klikkauksella saadaan oikea tuotenimi, event parametri suorittaa preventDefaultin
    js-funktiossa eli tässä tapauksessa estää formin post metodin suorituksen
    pid on textarea elementin id-arvo -->
    <button onclick="showQuestions(document.getElementById(`pID{{forloop.counter}}`).value,event)"
      class="btn btn-info">?</button>
    <!--
<button onclick="ask(document.getElementById(`prodName{{forloop.counter}}`).value,document.getElementById(`pID{{forloop.counter}}`).value,event)" class="btn btn-info">?</button>
  -->
  </div>
  <input hidden type="text" value="{{p.name}}" id="prodName{{forloop.counter}}" name="prodName">

  <input hidden type="text" value="{{p.price}}" id="unitPrice">
  <input hidden itype="text" value="{{p.productId}}" id="pID{{forloop.counter}}">


  <!--for silmukaan sisältyy linkki joissa on jokaisen tuotteen productid parametrina-->
  <!--
  <button id="sendOrder">

    <a href="/select-product-send/{{p.productId}}/">
      <i class="fa-solid fa-cart-plus"></i></a>

  </button>-->
  </form>
  {%endfor%}
  </div>

  {%for d in data %}
  <div id="orderFormPlace">

    <h3>Order form</h3>
    <!--toteutetaan latauksen bobtnclick funktio joka painaa ohjelmallisesti setBtn painiketta. setbtn
              suorittaa setAmount funktion joka hakee localstoragesta sinne talletetun Amount avaimen arvon-->

    <body onload="DoBtnClick()"></body>
    <script>

    </script>
    <button hidden id="setBtn" onclick="setAmount()">set</button>


    {% include 'orderForm.html' %}
    <div id="orderRow"></div>
    <p id="ordersFromList"></p>
    <table id="orderTable">
      <tr>
        <td></td>
      </tr>
    </table>
    <div id="clearOrder" class="clearOrder">
      <button class="btn btn-warning" onclick="clearOrderTable()">X</button>
    </div>

    <button id="createorder" onclick="AddToCart()">Add to cart</button>
    <p id="qtyList"></p>

    <p id="compare">{{code}}</p>
    <form action="/discount-code/" method="post">
      {% csrf_token %}
      <input type="text" id="code" name="code">
      <button class="btn btn-primary" type="submit">Discount code</button>
    </form>

    <form action="/save-order/" method="post">
      <input hidden type="text" name="prodid" value="{{productId}}">
      <input hidden id="qty" type="text" name="qty" value="">
      <script>
        getQty()
      </script>
      {% csrf_token %}


      <input type="text" name="flname" placeholder="First and lastname">
      <input type="text" name="address" placeholder="Address">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="zip" placeholder="Zip code">
      <br>
      <textarea id="orderDetails" name="orderDetails"></textarea>

      <input class="btn btn-primary" type="submit" value="Send order">
    </form>

    </table>
    <br>

    {%endfor%}
    <!--
    <button class="openBtn" style="padding: 16px 20px; background-color: #555; color: white;" onclick="openForm()">Open
      form</button>-->
    <div class="form_popup" id="formPlace"
      style="display: none; position: fixed; bottom: 0; right: 15px; border: 3px solid; z-index: 9;">
      <form action="" class="form-container" style="max-width: 300px; padding: 10px;"></form>

      <label for="names">First and lastname</label>
      <input type="text" placeholder="first and lastname" name="names">
      <br>
      <label for="email">E-mail</label>
      <input type="text" placeholder="example@mail.com" name="email">
      <br>
      <label for="phone">Phone</label>
      <input type="text" placeholder="phone number" name="phone">
    </div>
    <br>

</body>

</html>