<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}">
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/webshopScripts.js' %}"></script>
  <title>Webshop</title>

</head>

<body onload="getProductCounter();DoBtnClick()" style="background-image: url(/static/BGPic.jpg);">
  <h2>Webshop</h2>
  <a class="btn btn-primary" href="/select-product-send/{{0}}">Return to cart </a>

  <a class="btn btn-primary" href="/adminView">Admin view</a>
  <br><br>
  <form action="/back-to-shop/" method="post">
    
    <button class="btn btn-primary" id="gobackShop">Go back to shop</button>

    {% csrf_token %}
  </form>
  <!--span elementissä on tuotelaskuri-->
  <div class="shoppingCartBtn" id="shoppingCart">
  <a class="btn btn-primary btn-lg" onclick="ShoppingCart()">Show shopping cart<span id="cartNum" class="cartNum"></span></a>
</div>
  
  

<!--ostoskori-->
  <div class="form_popup" id="productForm">
    <form action="" class="form-container">
    <h4>Your orders</h4>
    <ol id="list">
    
  </ol>
 
    <script>
    
    </script>
    <button onclick="closeShoppingCart()">Close</button>
  </form>
  </div>


  <div class="ourProducts" id="ourProducts">

    <p id="prodCheck" class="prodCheck"><i class="fa-solid fa-hand-point-right"></i>Check our products <i
        class="fa-solid fa-hand-point-left"></i></p>
  </div>
  <div class="prods" id="prods" style="display: none" ;>
    <p><--Large font Medium font--></p>
    <div class="form-check form-switch" style="width: 25px; height: 25px;">

      <input class="form-check-input" type="checkbox" role="switch" id="toggleSwitch" onchange="fontChange(document.getElementById('Prodcard'),document.getElementById('toggleSwitch'))">
      <label class="form-check-label" for="flexSwitchCheckDefault">Change font size</label>
    </div>
   


    {%for p in prods %}
    <form action="/select-product-send/{{p.productId}}/" method="post"></form>
    <!--formin määrittelyssä annetaan p eli for silmukan muuttuja-->

    {% csrf_token %}

    
    <div class="card text-bg-primary mb-4" style="max-width: 18rem; background-image: url(/static/productBG.jpg)">
      <!--JOS INSTOCK ON PIENEMPI KUIN 5 NÄYTETÄÄ SILLÄ RIVILLÄ TAUSTAVÄRI PUNAISELLA-->
      {% if p.instock < 5 %} <div class="card-header"
        style="background-color: red; font-size: medium; font-family: 'Brush Script MT',cursive;">{{p.name}}
    </div>
    {%else%}
    <div class="card-header"
      style="background-color: green; font-size: medium; font-family: 'Brush Script MT',cursive;">{{p.name}}</div>
    {%endif%}
    <div class="card-body">
      <h5 id="Prodcard" class="card-title" style="font-size: large;
                      font-family: 'Brush Script MT',cursive;"><p hidden>{{p.productId}}</p> Price: {{p.price}} €/can inStock:
        {{p.instock}} pcs</h5>
      <p class="card-text"></p>
      <input type="radio" id="{{productId}}" name="str" value="8mg" onchange="setStrength(8)">8 MG
      <input type="radio" id="{{productId}}" name="str" value="16mg" onchange="setStrength(16)">16 MG


      <!--onchange eli kun joki vaihtoehto on valittu suoritetaan getStrength funktio
                      <select id="amount" name="amount" onchange="getStrength();">
    
                        
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <script>
                        //funktio tallentaa output muuttujaan select elementistä valitun vaihtoehdon
                        function getStrength() {
                          
      
                          selected = document.querySelector('#amount')
                          selectedStrength = selected.value;
                          localStorage.setItem('qty',selectedStrength)
                      
                          console.log(selectedStrength)
                        }
                      </script>-->

      <input type="text" max="{{p.instock}}" id="{{productId}}" name="amount" size="3" value="0"
        onchange="setAmountField()">


    </div>
  </div>





  <input hidden type="text" value="{{p.name}}" id="prodName" name="prodName">
  <input hidden type="text" value="{{p.price}}" id="unitPrice">

  <!--for silmukaan sisältyy linkki joissa on jokaisen tuotteen productid parametrina-->
  <button id="sendOrder">

    <a href="/select-product-send/{{p.productId}}/">
      <i class="fa-solid fa-cart-plus"></i></a>

  </button>

  {%endfor%}



  </div>
  <script>
    //jquery koodi plot-divn piilottamiseen tuplaklikkaamlla piilottamisen jälkeen
    //näytetään shwoDiv ja button elementti
    $(document).ready(function () {
      $('#ourProducts').dblclick(function () {
        $('#prods').show();
      })
    });

    $(document).ready(function () {
      $('#ourProducts').click(function () {
        $('#prods').hide();
      })
    });
  </script>

  {%for d in data %}
  <div id="orderFormPlace">

    <h3>Order form</h3>
    <!--toteutetaan latauksen bobtnclick funktio joka painaa ohjelmallisesti setBtn painiketta. setbtn
              suorittaa setAmount funktion joka hakee localstoragesta sinne talletetun Amount avaimen arvon-->

    <body onload="DoBtnClick()"></body>
    <script>
      function DoBtnClick() {
        document.getElementById("setBtn").click()
      }
    </script>
    <button id="setBtn" onclick="setAmount()">set</button>


    <table border="1px solid black">

      <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Amount</th>
        <th>Strength</th>
        <th>Total price</th>
      </tr>
      <tr>
        <!--order form rivi-->
        <td id="product">{{d.name}}</td>
        <td id="price">{{d.price}} €</td>
        <td id="finalAm" name="finaAm"></td>
        <td id="str"></td>
        <td id="total"></td>
      </tr>
    </table>
    

    <div id="orderRow"></div>
    <p id="ordersFromList"></p>
    <table id="orderTable">
      <tr>
        <td></td>
      </tr>
    </table>
    <div id="clearOrder"  class="clearOrder">
    <button class="btn btn-warning" onclick="clearOrderTable()">X</button>
  </div>
  
    <button id="createorder" onclick="AddToCart()">Add to cart</button>
  
    <p id="compare">{{code}}</p>
    <form action="/discount-code/" method="post">
      {% csrf_token %}
      <input type="text" id="code" name="code">
      <button class="btn btn-primary" type="submit">Discount code</button>
    </form>
    



    <form action="/save-order/" method="post">
      <input hidden type="text" name="prodid" value="{{productId}}">
      <input hidden id="qty" type="text" name="qty" value="">
      <script>
        getQty()
      </script>
      {% csrf_token %}
      
     
      <input type="text" name="flname" placeholder="First and lastname">
      <input type="text" name="address" placeholder="Address">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="zip" placeholder="Zip code">
      <br>
      <textarea id="orderDetails" name="orderDetails"></textarea>

      <input class="btn btn-primary" type="submit" value="Send order">
    </form>

    </table>
    <br>

    {%endfor%}
    <!--
    <button class="openBtn" style="padding: 16px 20px; background-color: #555; color: white;" onclick="openForm()">Open
      form</button>-->
    <div class="form_popup" id="formPlace"
      style="display: none; position: fixed; bottom: 0; right: 15px; border: 3px solid; z-index: 9;">
      <form action="" class="form-container" style="max-width: 300px; padding: 10px;"></form>

      <label for="names">First and lastname</label>
      <input type="text" placeholder="first and lastname" name="names">
      <br>
      <label for="email">E-mail</label>
      <input type="text" placeholder="example@mail.com" name="email">
      <br>
      <label for="phone">Phone</label>
      <input type="text" placeholder="phone number" name="phone">
    </div>

    <script>
  
    </script>



    <br>
 <!-- Button trigger modal -->
<button hidden type="button" id="modalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Age verify</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ARE YOU 18 OR OLDER?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
        <!--buttoni palauttaa käyttäjän etusivulle--->
        <a href="/" class="btn btn-primary">No</a>
      </div>
    </div>
  </div>
</div>

</body>

</html>