
.accordion-header {
    border-radius: 15px;
  
}

.form-check {
    background-color: lightgray;
    width: 25%;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }



.container {
    width: 550px; 
    left: 550px;
    background: red;
}
.animate {
    width: 10px;
    height:10px;
    position: absolute;
    top:250px;
    left:450px;
    background: green;
    
}

.forum {
    background-image: url("/static/images/BGPic.jpg");
}

.accordion-item {
    background-image: url("/static/images/BGPic.jpg");
}


/*jpef-kuva taustakuvana*/
.loginHeader {
    text-align: center;
    color: white;
    background-image: url("/static/images/headerBG.jpg");

}
.times {
    text-align: center;
}

.filt {
    background-color: aqua;
}
.prodCheck {
    
    font-size: x-large;
    font-family: 'Brush Script MT',cursive;
    background: #14dbdb;
    
}

.card-body {
    background: #e8f8fa;
    font-size: medium;
    font-family: 'Brush Script MT',cursive;
}



.loginPage {
    background-image: url("/static/images/BGPic.jpg");
}

.openBtn {
    background-color: #04AA6D;
    background: white;
    padding: 16px 20px;
}

.reply,.bodyTxt {
    background-color: lightblue;
}

.primaryTable {
    color: black;
    font-weight: bold;
    background-image: url("/static/images/BGimg.jpg");
}
.tableDays {
    color: black;
    font-weight: bold;
    
    position: relative;
    left: 260px;
    top:-327px;
    
    line-height: 45px;
    background-image: url("/static/BGimg.jpg");
    

}

.bannedDays {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.checkerRed {
    background-color: red;
}

.card-body {
    background-image: url("/static/images/productBG.jpg")
}

.bannedBody {
    background-image: url("/static/images/BGPic.jpg");

}
.adminBody {
    background-image: url("/static/images/BGPic.jpg");

}
.form_popup {
    display: none; 
    position: fixed; 
    bottom: 0; right: 15px; 
    border: 3px solid;
    z-index: 9;
}
.form-container {
    max-width: 400px; 
    padding: 10px;
}

.shoppingCartBtn {
    position: fixed;
    bottom:10px;
    right:20px;
}

.clearOrder {
    position: fixed;
    left: 454px;
    top:250px;
}
.shoppingCartBtnEffect {
    position: fixed;
    bottom:10px;
    right:20px;
    border: 5px solid red;
}

.cartNum {
    position: fixed;
    bottom:31px;
    color: red;
    font-weight: bold;
}

.form-check-input {

    background-color: lightblue;
}

.reply {
    background-color: aliceblue;
    border-radius: 5px;
}
.delivered {
    color: red;
    font-weight: bold;
}

.card card-body-statistics {
    background-image: url("/static/images/BGPic.jpg");
}
.postDate {
    font-size: medium;
}
.LogoutBtn{
    position: fixed;
    left:1200px;
}
.showpsw {
    position:relative; 
    left:390px;
    top:-91px;
    
}

/*taustaväri kun accordion/collapse subject elementti on suljettu*/
.accordion-button {
    background-color: #5ac8e0;

}


.userInfo {
    white-space: nowrap;
}

.ask {
    position: relative;
    left:290px;
}